* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--font_color1);
    font-family: sans-serif;
    transition: ease-in-out 152ms;
    cursor: default;
    /* overflow: hidden; */
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(240, 201, 29);
    border-radius: 10px;
}

body {
    background-color: rgb(20, 20, 20);
    font-family: monospace;
}

:root {
    --base-color: rgb(28, 28,  28);
    --color2: rgb(240, 201, 29);
    --color3: rgb(45, 45, 45);
    --dvhHeight: 200dvh
}
    

/* bar samping */

.side {
    position: fixed;
    display: flex;
    height: 100dvh;
    width: 18%;
    background-color: var(--base-color);
    z-index: 1;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
    border-right: 3px solid rgb(240, 201, 29);
}

.side .pp {
    width: calc(fit-content - 80px);
    height: fit-content;
    text-align: center;
    animation: tilt-in-top 1.2s ease normal;
}

.side .pp img {
    margin-top: 50px;
    display: flex;
    justify-self: center;
    width: 60%;
    border-radius: 30px;
    z-index: 1;
    object-fit: cover;
}

.side .pp h1 {
    margin-top: 40px;
    display: flex;
    justify-self: center;
    margin-left: -5px;
    color: var(--color2);
    font-size: 18px;
    align-self: center;
    max-width: 220px;
}

.side .nametag {
    margin-top: 18px;
    justify-self: center;
    border-radius: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 185px;
    height: 30px;
    background-color: rgb(45, 45, 45);
    color: white;
    cursor: default;
}

.side .nametag span {
    color: var(--color2);

}

/* data info */

#datainfoframe {
    
    border-radius: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: var(--color3);
    width: 225px;
    height: 40px;
    animation: tilt-in-left 2s ease-in-out normal;
}

.datainfo {
    display: flex;
    align-items: center;
    margin-top: 4rem;
    flex-direction: column;
    animation: namaAnimasi 500ms ease-in-out normal;
}

#buk1 {
    justify-self: flex-start;
    color: white;
    margin-left: 20px;
    margin-bottom: 10px;
    animation: tilt-in-left 1.6s ease-in-out normal;
    
}

.tgllahir .wrapper {

    border-radius: 30px;
    display: flex;
    align-items: center;
    background-color: var(--color3);
    width: 180px;
    height: 40px;
    animation: tilt-in-left 2s ease-in-out normal;
}

.tgllahir .wrapper p {
    margin-left: 20px;
}


.datainfo .emailinfo .wrapper p {
    color: white;
    font-size: 17px;
    justify-self: center;
}

.datainfo .tgllahir {
    margin-top: 30px;
    color: white;
    justify-self: left;
    margin-left: -40px;
}

/* Isi */

.isi {
    height: 150dvh;
    margin-left: 18%;
    width: 82%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.isi .wrapper {
    border: 3px solid rgb(240, 201, 29);
    border-radius: 30px;
    width: 90%;
    background-color: var(--base-color);
    height: 95%;
    position: relative;
}

/* Custom scrollbar */
.content::-webkit-scrollbar {
    width: 8px;
}

.content::-webkit-scrollbar-track {
    background: #111;
    border-radius: 10px;
}

.content::-webkit-scrollbar-thumb {
    background: gold;
    border-radius: 10px;
}



.isi .wrapper .judulIsi {
    color: white;
    padding-left: 65px;
    padding-top: 90px;
    font-size: 18px;
    animation: tilt-in-tl 5s ease normal;
}


.isi .wrapper .judulIsi .garisBawahJudul {
    border-radius: 330px;
    margin-top: 20px;
    width: 50px;
    height: 5px;
    background-color: var(--color2);
}

/* main content */

.isi .wrapper .content {
    margin-top: 1.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 11%;
}

.isi .wrapper .content .introduce {
    width: 88%;
    opacity: 0;
    color: white;
    animation-name: opacity;
    animation-duration: 2s;
    animation-delay: 1s; /* Menunggu 1 detik sebelum mulai */
    animation-fill-mode: forwards;
}


/* Keahlian */

.isi .wrapper .content .keahlian {
    display: flex;
    justify-content: center;
    color: white;
    flex-direction: column;
    gap: 6.5rem;
    width: 100%;
    align-items: center;
}

.keahlian h1 span {
    color: var(--color2);
}

.keahlian .judul {
    opacity: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    animation-name: in-top;
    animation-duration: 4s;
    animation-delay: 1.6s; /* Menunggu 1 detik sebelum mulai */
    animation-fill-mode: forwards;
}

.keahlian .garisBawahJudul {
    border-radius: 330px;
    margin-top: 20px;
    width: 65px;
    height: 5px;
    background-color: var(--color2);
}

#ruangan {
    background-color: rgb(35, 35, 35);
    width: 23rem;
    height: 8rem;
    border-radius: 18px;
    border: 1.6px solid var(--color2);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    
}

.keahlian .kolomSatu {
    display: flex;
    opacity: 0;
    justify-content: center;
    flex-direction: row;
    gap: 6rem;
    animation-name: left;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.keahlian .kolomSatu .ruang1 {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.2rem;
}


.keahlian .kolomSatu .ruang1 h1 {
    font-size: 22px;
    margin-left: 25px;
    color: var(--color2);
    position: relative;
}

.keahlian .kolomSatu .ruang1 p {
    margin-left: 25px;
    position: relative;
}

.keahlian .kolomDua .ruang1 {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.2rem;
}

.keahlian .kolomDua .ruang1 h1 {
    font-size: 22px;
    margin-left: 25px;
    color: var(--color2);
    position: relative;
    width: 20rem;
}

.keahlian .kolomDua .ruang1 p {
    margin-left: 25px;
    position: relative;
}

.keahlian .kolomTiga .ruang1 {
    opacity: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.2rem;
    animation-name: left;
    animation-duration: 2s;
    animation-delay: 2.4s;
    animation-fill-mode: forwards;
}

.keahlian .kolomTiga .ruang1 h1 {
    font-size: 22px;
    margin-left: 25px;
    color: var(--color2);
    position: relative;
    width: 20rem;
}

.keahlian .kolomTiga .ruang1 p {
    margin-left: 25px;
    position: relative;
}





/*  BAGIAN ANIMASI   */


@keyframes opacity {
    from {
        transform: translateX(-40px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes tilt-in-top {
    0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
            transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
    }
    
    100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
    }
}

@keyframes tilt-in-left {
    0% {
    -webkit-transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
            transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
    opacity: 0;
    }
    100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
            transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
    }
}   

@keyframes tilt-in-tl {
  0% {
    -webkit-transform: rotateY(35deg) rotateX(20deg) translate(-250px, -250px) skew(12deg, 15deg);
            transform: rotateY(35deg) rotateX(20deg) translate(-250px, -250px) skew(12deg, 15deg);
    opacity: 0;
  }
  30% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
            transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    
  }
  100% {
    opacity: 1;
  }
}


@keyframes in-top { 
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    30% {
        transform: translateY(0px);
    }

    100% {
        opacity: 1;
    }
}

/* animasi untuk panel keahlian */

@keyframes left {
    0% {
        transform: translateX(30px);
        opacity: 0;
    }

    60% {
        transform: translateX(0);
    }

    100% {
        opacity: 1;
    }
}