* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--font_color1);
    font-family: sans-serif;
    transition: ease-in-out 152ms;
    cursor: default;
}

body {
    background-color: rgb(20, 20, 20);
    font-family: monospace;
}

:root {
    --base-color: rgb(28, 28,  28);
    --color2: rgb(240, 201, 29);
    --color3: rgb(45, 45, 45);
}

/* bar samping */

.side {
    position: absolute;
    display: flex;
    height: 100dvh;
    width: 18%;
    background-color: var(--base-color);
    z-index: 1;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
}

.side .pp {
    width: calc(fit-content - 80px);
    height: fit-content;
    text-align: center;
}

.side .pp img {
    margin-top: 50px;
    display: flex;
    justify-self: center;
    width: 60%;
    border-radius: 30px;
    z-index: 1;
    object-fit: cover;
}

.side .pp h1 {
    margin-top: 40px;
    display: flex;
    justify-self: center;
    margin-left: -5px;
    color: var(--color2);
    font-size: 18px;
    align-self: center;
    max-width: 220px;
}

.side .nametag {
    margin-top: 18px;
    justify-self: center;
    border-radius: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 30px;
    background-color: rgb(45, 45, 45);
    color: white;
    cursor: default;
}

.side .nametag span {
    color: var(--color2);
}

/* data info */

#datainfoframe {
    
    border-radius: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: var(--color3);
    width: 225px;
    height: 40px;
}

.datainfo {
    display: flex;
    align-items: center;
    margin-top: 4rem;
    flex-direction: column;
}

#buk1 {
    justify-self: flex-start;
    color: white;
    margin-left: 20px;
    margin-bottom: 10px;
}


.datainfo .emailinfo .wrapper p {
    color: white;
    font-size: 17px;
    justify-self: center;
}

.datainfo .tgllahir {
    margin-top: 30px;
    color: white;
}




/* Isi */

.isi {
    height: 100dvh;
    margin-left: 18%;
    width: 82%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.isi .wrapper {
    border: 3px solid rgb(240, 201, 29);
    border-radius: 30px;
    width: 90%;
    background-color: var(--base-color);
    height: 95%;
    position: relative;
    overflow: hidden;
}

.isi .wrapper .menu {
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    justify-self: self-end;
    display: flex;
    background-color: var(--color3);
    border-bottom-left-radius: 20px;
    border-top-right-radius: 26px;
    border: 2px solid var(--color3);
    width: 380px;
    height: 65px;
    color: var(--color2);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}


.isi .wrapper .menu .aboutMe {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 104.5%;
    align-items: center;
    border-bottom-left-radius: 20px;
    margin-left: -1px;
    border-right: 0.1px solid rgb(240, 201, 29);
    border: 0.1px solid rgb(240, 201, 29);
    font-weight: 120px;
}

.isi .wrapper .menu .aboutMe:hover {
    background-color: rgb(35, 35, 35);
}

.isi .wrapper .menu .aboutMe:active {
    background-color: var(--base-color);
}


.isi .wrapper .menu .porto {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 104.5%;
    align-items: center;
    border-top-right-radius: 26px;
    margin-right: -1px;
    border-left: 0.1px solid rgb(240, 201, 29);
    border: 0.1px solid rgb(240, 201, 29);
}

.isi .wrapper .menu .porto:hover {
    background-color: rgb(35, 35, 35);
}

.isi .wrapper .menu .porto:active {
    background-color: var(--base-color);
}


.isi .wrapper .judulIsi {
    color: white;
    padding-left: 65px;
    padding-top: 70px;
    font-size: 18px;
}

.isi .wrapper .judulIsi .garisBawahJudul {
    border-radius: 330px;
    margin-top: 20px;
    width: 50px;
    height: 5px;
    background-color: var(--color2);
}